<ion-view view-title="Contacts">

  <ion-nav-buttons side="primary">
    <a ng-href="#/app/new" class="button button-icon icon ion-plus"></a>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-person-stalker" ng-click="addFiveNewUsers()"></a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list can-swipe="true">
      <ion-item class="contact item-remove-animate" ng-repeat="contact in contacts">
      	<a href="#/app/contacts/{{contact.id}}"><img ng-src="{{contact.picture}}"></a>
        
      	<div class="contact-content">

        	<h2><strong>{{contact.name}}</strong></h2>
        	<p>Rapport: {{contact.rapport}}</p>

        	<ul class="contact-options">

        		<a ng-href="tel:{{contact.phone}}" ng-click="incrementRapport(contact.id)"><li><i class="ion-ios-telephone-outline"></i></li></a>
        		<li ng-click="sendSMS(contact.id, contact.phone, '')"><i class="ion-android-textsms"></i></li>
        		<a ng-href="mailto:{{contact.email}}" ng-click="incrementRapport(contact.id)"><li><i class="ion-ios-email-outline"></i></li></a>
        		<li ng-click=""><i class="ion-ios-more"></i></li>        		
             
        	</ul>

        </div>      

        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeContact(contact.id)"></ion-option-button>             

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
